
.tabContainer{
    width: 75%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 18px;
    background-color: black;
    transition: all 0.5s;
    cursor: pointer;
}
.tabContainer .buttonContainer button:hover{
    background-color: #676767;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: #eee;
    color: black;
    text-align: center;
    padding-top: 0px;
    box-sizing: border-box;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 18px;
    display: none;
}
