body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-button{
  transition: all 0.5s;
  cursor: pointer;
}
.w3-top{
  z-index: 1;
  position: fixed; 
}
.wrapper1 {
  text-align: left;
}
.map {
  height: 450px;
  z-index: 0;
}
.chartcont {
  height: 350px;
}
.textinf{
  height: 250px;
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../Images/final2.jpg");
  min-height: 100%;
}
.overflow {
  width: 100%;
  overflow: auto;
}

canvas {
    margin: 0 auto;
    display: block;
}

<!--
a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
-->
